<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/static/login.css">
    <link href="../node_modules/antd/dist/antd.css" rel="stylesheet">
    <script type="text/javascript" src="../assets/static/mod.js"></script>
</head>
<body>
    <div id="main" class="login-bg">
        <div class="login-flex">
            <div class="flex-top"></div>
            <div id="login-main" class="flex-center"></div>
            <div class="flex-top"></div>
        </div>
    </div>
    <script type="text/javascript">
        require(['../assets/modules/login.js']);
    </script>
</body>
</html>